body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    overflow-x: none;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
}
#header {
    position: fixed;
    width: 100%;
    z-index: 21;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#header.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px white;
}

#humberger {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 100;
}

.iconhumberger {
    width: 40px;
    border: 3px solid white;
    margin: 5px 0;
}

.show-menu #dropcontent {
    display: block;
    transform: translateY(0);
}

@media (max-width: 768px) {

    #dropcontent {
        display: none;
        flex-direction: column;
        justify-content: center;
    }

    #humberger {
        display: block;
    }

    #nav {
        display: flex;
        flex-direction: column;
    }

    .hero-content {
        flex-direction: column;
        justify-content: center;
    }

    .dropdown-content {
        background-color: none;
        box-shadow: none;
        position: relative;
    }
}
    
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 30px;
    z-index: 20;
}

#nav a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
}

#dropcontent {
    display: flex;
}

#nav ul li {
    margin-left: 20px;
    list-style: none;
}

#nav ul li a {
    font-size: 22px;

}

#nav ul li a:hover {
    color: aqua;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 16px rgba(77, 76, 76, 0.2);
    z-index: 3;
    width: 200px;
    transition: all 0.4s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content li {
    padding: 10px;
    transition: background-color 0.3s;
    left: 0;
}

.dropdown-content li:hover {
    background-color: #323232;
    /* width: 200px; */
}

/* hero section */
.hero-section {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content a {
    text-decoration: none;
    font-size: 50px;
    color: rgba(242, 242, 245, 0.9);
    transition: color 0.3s ease;
    position: relative;
    text-transform: uppercase;
    padding-left: 30px;
}

.hero-content span {
    font-size: 70px;
    cursor: pointer;
    transition: all 0.3s;
}

.hero-content span:hover {
    transform: scale(1.1);
    box-shadow: 0 0 60px white, 0 0 20px white;
}

.hero-content a:hover {
    color: rgb(251, 251, 251);
    /* Fully opaque blue text color on hover */
    text-shadow: 0 0 10px rgba(251, 251, 252, 0.8);
    /* Box shadow to create the glowing effect */
}

#FoodVideo {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh);
    z-index: 2000;
}

#closebtnvideo {
    position: absolute;
    right: 340px;
    top: 80px;
    display: flex;
    font-size: 16px;
    font-family: Robot;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
}

/* food list section */
.background-container {
    background-image: url('img/bg.jpg');
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Fixed background image */
    height: 100vh;
    /* Adjust the height as needed */
    overflow: scroll;
    /* Hide overflow to prevent scrolling within the container */  
}
::-webkit-scrollbar {
    display: none;
}

.text-content {
    position: relative;
    z-index: 1;
    /* Ensure the text is above the background image */
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    height: inherit;
}

.scrollable-content {
    height: 40vw;
    padding: 20px;
    background: rgba(250, 248, 248, 0.93);
    /* Background color with transparency */
    color: black;
    text-align: center;
}
.scrollable-content h4{
    font-size: 2vw;
}

#aboutUsImg {
    width: 40vw;
    height: 27vw;
    overflow: hidden;
    transition: all 0.7s;
    border: 6px solid rgba(23, 22, 22, 0.825);
    box-shadow: 0 0 10px black;
}

#aboutUsImg img {
    transition: all 0.7s;
    background-position: center;
    background-size: cover;

}

#aboutUsImg img:hover {
    transform: scale(1.1);
}

#aboutUsImg:hover {
    transform: scale(1.06);
}

#map {
    height: 300px;
}

#booktable-page {
    background-image: url('img/foodNandedFind.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh);
}

.Find-Food-Nav {
    background-color: rgba(0, 0, 0, 0.7);
    height: calc(100vh);
}

.navbar-booktable {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-booktable input {
    width: 700px;
    height: 80px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    margin-right: 0;
}
.navbar-booktable button{
    height: 80px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border-radius: 0 10px 10px 0;
    transition: all 0.3s;
}
.navbar-booktable button:hover{
    background-color: rgb(201, 245, 245);
}

.navbar-booktable span {
    font-size: 50px;
}

.navbar-booktable input[type="text"]:focus {
    outline: 2px dashed white;
    box-shadow: 0 0 20px white;
}

.SearchedFoods{
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    text-align: center;
}
#tbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.SearchedFoods tr , .menutablefoodlist tr ,#Yourlist tr{
    border: 1px solid white;
    transition: all 0.2s;
}
.SearchedFoods tr:hover, .menutablefoodlist tr:hover, #Yourlist tr:hover{
    background-color: aquamarine;
}

.SearchedFoods tr td, .menutablefoodlist tr td, #Yourlist tr td{
    background-color: rgba(12, 125, 157, 0.774);
    font-size: 20px;
    padding:10px 20px;
    cursor: pointer;
}
.SearchedFoods tr td img, .menutablefoodlist tr td img, #Yourlist tr td img{
    border-radius: 50%;
    border: 3px solid black;
}
.SearchedFoods tr th, .menutablefoodlist tr th, #Yourlist tr th, #bookmarklist tr th {
    padding: 25px;
    font-size: 20px;
}
.SearchedFoods tr td:last-child button, .menutablefoodlist tr td:last-child button{
    padding: 10px;
    width: 100px;
    height: 50px;
    background-color: rgba(10, 114, 143, 0.774);
    color: white;
    border: 1px solid white;
}
.SearchedFoods tr td:last-child button:hover, .menutablefoodlist tr td:last-child button:hover{
    background-color: rgba(12, 149, 187, 0.774);
}
#selected-button {
/* You can choose the background color you prefer */
    background-color: rgba(52, 191, 229, 0.973);
    font-weight: 600;
}

#myTable{
    width: 100%;
    background-color: rgb(32, 103, 255);
}
#menutablefoodlist{
    width: 100%;
    background-color: rgb(32, 103, 255);
}
#bookmarklist{
    width: 100%;
    background-color: rgb(32, 103, 255);
}


#x_btn {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#x_btn:hover {
    background-color: white;
    color: red;
}


/* Services */
.card-body {
    border: 1px solid white;
    width: 300px;
    text-align: center;
    padding: 15px;
    margin: 10px;
    height: 200px;
    border-radius: 10px;
    transition: all 0.4s;
}

.card-body:hover {
    box-shadow: 0 0 80px rgb(105, 103, 103);
    background-color: #510404;
    transform: scaleY(1.1);
}

.contactInputs input,
textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid white;
}

.contact-Us {
    background: rgba(250, 248, 248, 0.93);
    color: black;
}

.contactInputs input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 2px solid rgba(104, 109, 6, 0.807);
}

input[type="button"] {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(104, 109, 6, 0.807);
    color: white;
}

.ContactName input[placeholder="Your Email"] {
    margin: 10px 0 0 10px;
}


/* All media queryes here  */
@media (max-width: 600px) {
    /* Adjust styles for small screens */
    .navbar-booktable {
      flex-direction: column;
    }

    #searchInput{
      margin-top: 10px;
      margin-right: 0;
      width: 200px;
      height: 40px;
    }
    #mobile-Serch-input button{
        width: 200px;
        height: 40px;
    }

    h1.text-center {
      font-size: 1.5em;

    }
    .navbar-booktable span {
        font-size: 10px;
        margin-top: 100px;
    }   
}

/* Default styles for larger screens */
@media (min-width: 769px) {
    .SerchedFoodList th:nth-child(4),
    .SerchedFoodList td:nth-child(4) {
        display: table-cell;
    }
}

/* Styles for screens 768px or below */
@media (max-width: 768px) {
    .SerchedFoodList th:nth-child(4),
    .SerchedFoodList td:nth-child(4) {
        display: none;
    }
}

@media (max-width:769px){
    .card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
    }
}

@media (max-width:768px){
    #bookmarklist, #Yourlist{
        width: 350px;
    }
    #Yourlist tr{
        padding: 10px;
    }
    .scrollable-content{
        height: 130vw;
    }
    .scrollable-content h4{
        font-size: 4vw;
    }
    #aboutUsImg {
        width: 50vw;
        height: 30vw;
    }

}

  
